@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;700&display=swap');
body{
  font-family: 'Orbitron', sans-serif;
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  width: 100vw;
  height: 100vh;
}
.body1 {
  margin: 0;
  background-image: url('../Assets/Background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Orbitron', sans-serif;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.body2{
    margin: 0;
  background-image: url('../Assets/Background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: 'Orbitron', sans-serif;

  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
h5{
  font-size: 40px;
  color: white;
}

/* container */
.menu {
  display: flex;
  flex-direction: column;
  gap: 40px; 
  margin-top: 15%;
}

/* buttons */
.play {
  width: 400px;
  height: 100px;
  font-size: 44px;
}
.howtoplay {
  width: 400px;
  height: 100px;
  font-size: 44px;
}
.imgsize{
  width: 15%;
}
.cardBgrnd{
  background-color: #0A0A0A;

  
}
.homeBtn{
  width: 365px;
  font-size: 65px;
  color:white;
  background-color: black;
   position: absolute;
  top: 0%;
  right: 2%;
}
.choicebtn {
  all: unset;
  cursor: pointer;
}
.choose{
  position: absolute;
  top: 9%;
  left: 37%;
  background-color: black;
  width: 500px;
}
h1{
  color: white;
  font-size: 96px;
}
.img1{
  position: absolute;
  left: 10%;
  top: 20%;

}
.img2{
  position: absolute;
  right: 10%;
  top: 20%;

}
.youWin{
  position: absolute;
  top: 64%;
  left:29.5%;
  width: 790px;
  background-color: black;
}

.playAgain{
  position: absolute;
  top: 72%;
  left: 40%;

  font-size: 56px;
}
h2{
  font-size: 56px;
  color: white;
}
.vs{
  position: absolute;
  top: 32%;
  left: 45.5%;
  background-color: white;
}
button{
  background-color: black;
  color: white;
  border: 0;
}
.hidden {
  display: none;
}